/* styles/ProductCard.module.css */

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  color: #0B6623;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.buyButton {
  background-color: #0B6623;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buyButton:hover {
  background-color: #065d29;
}
