/* styles/Products.module.css */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.productCard {
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: white;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.productDetails {
  margin-top: 10px;
}

.productTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    text-transform: lowercase;
}

.productPrice {
  font-size: 1.15rem;
  color: #333;
}

.addToCartButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addToCartButton:hover {
  background-color: #005bb5;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 600;
}
